.textarea2{
  margin-left: auto;
  position: absolute;
  left: 700px;
  padding-right: 30px;
  top: 70px;
}

.textarea1{
  margin-left: auto;
  position: absolute;
  left: 400px;
  padding-right: 30px;
  top: 70px;
}

.h3{
  margin-left: auto;
  position: absolute;
  left: 400px;
  padding-right: 30px;
  top: 90px;
}
.h32{
  margin-left: auto;
  position: absolute;
  left: 700px;
  padding-right: 30px;
  top: 90px;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url('/static/veggies.png');
  opacity: 0.9;
}
.recipe, .comment, .p{
  
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(206, 238, 110);
  border-radius: 25px;
 
}
.recipe:first-child {
  margin-top: none;
}
.comment {
  margin-left: 20px;
}

.post-button{
  margin: auto;
  position: absolute;
  right:  100px;
  background-color: #e67c13;
  padding: 15px;
  border: #e67c13;
  border-radius: 25px;
  top: 70px;
}

.react-button{
  background-color: #e67c13;
  padding: 15px;
  border: #e67c13;
  border-radius: 25px;
  margin-bottom: 20px;
}



.div-react{
  padding: 15px;
  background-color:rgb(122, 213, 104);
  border-radius: 25px;
  margin-bottom: 15px;
}

.p{
  display: inline-block;
  
 
}

.p2{
  display: inline-block;
  margin-top: -10px
 
}

.divje ,.p,.p2{
  
  padding: 5px;
  background-color:rgb(93, 141, 213);
  border-radius: 25px;
  margin-bottom: 15px;
}

.logout-button{
  background-color: #e67c13;
  padding: 10px;
  border-radius: 20px;
  border: #e67c13;
}