body {
  background-color: rgb(131, 230, 101);
}

h1,h3 {
  color: rgb(226, 122, 24);
  text-align: center;
  font-family: verdana;
  font-size: 20px;
  
 

}
.h1-login{
  color: rgb(216, 101, 29);
  text-align: center;
  font-family: verdana;
  font-size: 20px;
  position: absolute;
  left: 525;

}

p {
  font-family: verdana;
  font-size: 15px;
  justify-content: space-between;
  
}


p{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(23, 54, 3)
}
.buttons-home{
  float: left;
  background-color: aqua;
  margin-left: 0px;
  cursor: pointer;
  border-color: aqua;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}
.btn-group {
  display: flex;
  margin: auto;
 
  padding-left: 105px;
  margin-bottom: 5px;
  max-width: 300px;
  border: rgb(15, 173, 59);
  color: rgb(9, 3, 3);
  padding: 15px 400px;
  
  top:0; 
  position: absolute;
  width: 100%;
  background-color: orange;
  border-bottom: 8px solid yellow;
  justify-content: space-between;
  
 
}



.second-bar{
  display: flex;
  float: left;
  background-color: rgb(122, 213, 104);
  
  margin-bottom: 5px;
  max-width: 300px;
  
  padding: 10px 495px;
  border: rgb(136, 100, 208);
  top:70px; 
  position:fixed;
  
  justify-content: left;
}

.login-button{
  display: flex;
  margin: auto;

  background-color: #beeb4b;
  cursor: pointer;
  text-align: center;
  padding: 15px 32px;
  border: rgb(15, 173, 59);
}

.my-button {
  display: block;
  margin: auto;
  background-color: #beeb4b;
  cursor: pointer;
 
  position: relative;
  right: 0;
  border: rgb(15, 173, 59);
  color: rgb(8, 2, 2);
  padding: 15px 32px;
  left: auto;
  
 
}


input, select {
  width: 30%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 30%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.image{
 
  position: absolute;
  left: 0px;
  top: 140px;
 

}