body {

  background-image: url('/static/veggies.png');
  opacity: 0.9;
  
}

h1,h3 {
  color: rgb(24, 226, 145);
  text-align: center;
  font-family: verdana;
  font-size: 20px;
  
 

}
.bar{
  background-color:rgb(15, 173, 59); ;
  margin-left: 30;
  margin-right: 30;
  margin-top: 40;
  margin-bottom: 30;
  border-radius: 25px;
}
.home-bar{
  display: flex;
  
  background-color:rgb(37, 52, 38); ;
  margin-left: 0;
  margin-right: 0;
  margin-top: -10;
  margin-bottom: 20;
  padding-top: 20;
  padding-bottom: 30;
  border-radius: 25px;
}

.welkom-bar{
  display: flex;
  
  background-color:rgb(70, 212, 19); ;
  margin-left: 0;
  margin-right: 0;
  margin-top: -10;
  margin-bottom: 20;
  padding-top: 20;
  padding-bottom: 400;
  border-radius: 25px;

}
.h1-login{
  color: rgb(216, 101, 29);
  text-align: center;
  font-family: verdana;
  font-size: 20px;
  position: absolute;
  left: 525;

}

p {
  font-family: verdana;
  font-size: 15px;
  justify-content: space-between;
  
}


p{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(23, 54, 3)
}
.button-login{
  
  background-color: rgb(39, 217, 63);
  margin-left: 750;
  padding-left: 20;
  padding-right: 20;
  padding-top: 20;
  padding-bottom: 20;

}
.button-register{
  background-color: rgb(39, 217, 63);
  margin-left: 10;
  padding-left: 20;
  padding-right: 20;
  padding-top: 20;
  padding-bottom: 20;
}
.btn-group {
 
  margin: auto;
 
 
  margin-bottom: 5px;
  max-width: 300px;
  border: rgb(15, 173, 59);
  color: rgb(9, 3, 3);
  
  
  top:0; 
  position: absolute;
  width: 100%;
  background-color: orange;
  border-bottom: 8px solid yellow;
  justify-content: space-between;
  
 
}



.second-bar{
  display: flex;
  float: left;
  background-color: rgb(122, 213, 104);
  
  margin-bottom: 5px;
  max-width: 300px;
  
  padding: 10px 495px;
  border: rgb(136, 100, 208);
  top:70px; 
  position:fixed;
  
  justify-content: left;
}

.login-button{
  display: flex;
  margin: auto;

  background-color: #beeb4b;
  cursor: pointer;
  text-align: center;
  padding: 15px 32px;
  border: rgb(15, 173, 59);
}

.my-button {
  display: block;
  margin: auto;
  background-color: #beeb4b;
  cursor: pointer;
 
  position: relative;
  right: 0;
  border: rgb(15, 173, 59);
  color: rgb(8, 2, 2);
  padding: 15px 32px;
  left: auto;
  opacity: 9;
  
 
}




input, select {
  width: 30%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 30%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.image{
 
  position: absolute;
  left: 0px;
  top: 140px;
 

}

.welkom-text{
  text-align: center;
  margin-left: 500;
  font-size: 20px;
  color: blue;
}



.home-text{
  margin-top: 100;

  margin-left: -500;
  font-size: 13px;
  color: blue;
}

.bars{
  display: flex;
  
  background-color:rgb(70, 212, 19); ;
  margin-left: 0;
  margin-right: 0;
  margin-top: -10;
  margin-bottom: 10;
  padding-top: 150;
  padding-bottom: 400;
  border-radius: 25px;

}

.nav-bar{
  display: flex;
  
  background-color:rgb(18, 31, 13); ;
  margin-left: 300;
  margin-right: 300;
  margin-top: -10;
  margin-bottom: 10;
  padding-top: 150;
  padding-bottom: 400;
  border-radius: 25px;

}

.sidenav{
 
  background-color: aqua;
}

.sidenav a{
  display: block;
  font-size: 25;
  padding: 8px 8px 8px 4px;
  height: 70%; /* 100% Full-height */
  width: 100; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 60; /* Stay at the top */
  left: 22;
 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 9px; /* Place content 60px from the top */
  transition: 0.5s
}
.sidenav a:hover{
  background-color: #beeb4b;
  transition: 0.3s;
}