body {
  background-color: rgb(109, 214, 243);
}

h1 ,h3{
  color: rgba(231, 236, 87, 0.928);
  text-align: center;
  font-family: verdana;
}

p {
  font-family: verdana;
  font-size: 20px;
}


p{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(2, 50, 56, 0.928)
}

button {
  display: block;
  margin: auto;
  background-color:#beeb4b;
  cursor: pointer;

  border: rgb(15, 173, 59);
  color: rgb(9, 3, 3);
  padding: 15px 32px;
  
 
}

.my-button {
  display: block;
  margin: auto;
  background-color: #beeb4b;
  cursor: pointer;

  border: rgb(15, 173, 59);
  color: rgb(8, 2, 2);
  padding: 15px 32px;
  
 
}

input, select {
  width: 30%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 30%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}